div.cma-main {display: table; width: 100%; max-width: 1040px; margin: 0 auto;}
div.cma-wrapper {display: table-row; width: 100%}
div.cma-content, div.cma-sidebar{display: table-cell; vertical-align: top; float: none !important}
div.site-content.cma-content{padding: 1%; width: 99%}
div.cma-sidebar{white-space: nowrap}
div.cma-main .cma-wrapper .cma-content #content {width: 100%; margin: 0}

.cma_success, .cma_error {border:solid 1px; margin:10px 0; padding:15px 10px 15px 50px;list-style-type:none; background-repeat:no-repeat;background-position:10px center;}
.cma_success {color:#4f8a10; background-color: #dff2bf; background-image:url(imgs/success.png);}
.cma_error {color:#d8000c; background-color:#ffbaba; background-image:url(imgs/error.png);}
.cma_success li, .cma_error li {display: block;
                                line-height: 20px;
                                margin:0;
                                list-style-type: none;}
a.cma-backlink {
    float:right;
    font-size:11px;
}
.cma-clear {clear:both;float:none;}
.cma-thread-orderby {list-style-type:none;margin:0 5px;font-size:12px;display:inline-block;}
.cma-thread-orderby li {float:left; margin-right:15px; text-decoration:none;color:#000;background-color:#fff;border-radius:8px;padding:2px 10px; line-height:1.5em; list-style: none;}
.cma-thread-orderby li a {color:#000;font-weight:normal; text-decoration:none; font-size:14px; }
.cma-thread-orderby li a:hover {text-decoration:none;}
.cma-thread-orderby li.cma-current-sort {background-color:#777;color:#fff;}
.cma-thread-orderby li.cma-current-sort a {color:#fff;}
.cma-thread-orderby li:hover {background-color:#ccc;}
.cma-answers-orderby {margin:10px 0;}
table.cma-thread-list {width:100%;margin-top:20px;}
table.cma-thread-list td {border-bottom:solid 1px #ccc; padding:10px 0px;line-height:1.5em;}
table.cma-thread-list td.cma-thread-meta {padding:10px 0px; width:5%;}
.cma-thread-numbers {border:solid 2px #ccc; padding:2px 5px;border-radius:4px; text-align:center; background-color:#fff; margin-right:5px;}
.cma-thread-numbers-caption {font-size:11px;}
.cma-thread-numbers-count {font-size:18px; font-weight:bold;}
.cma-thread-answers {border-color: #73a550; background-color:#73a550; color:#fff;}
.cma-thread-no-answers {border-color:#c0462e; background-color:#c0462e;}
table.cma-thread-list td.cma-thread-summary {padding:10px 5px;vertical-align:top;width:60%;}
.cma-thread-updated {font-size:11px;text-align:right;}
.cma-thread-title {font-size:18px;font-weight:bold;}
.cma-answer-title {font-size:14px;font-weight:normal;}
.cma-pagination {text-align:center;margin-top:10px;}
.cma-pagination a {color:#000; text-decoration:none}
.cma-pagination a:hover {text-decoration:none;background-color:#ccc;}
.cma-pagination .page-numbers {padding:3px;border:solid 2px #ccc; border-radius:4px;background-color:#fff;}
.cma-pagination .current {color:#fff;background-color:#777;border-color:#777;}
.cma-form-container {margin-top:10px;}
.cma-form-container h5 {font-weight:bold;font-size:18px;}
.cma-form-notes {display:block;float:right;font-size:11px;margin:0;border:solid 1px #ccc; padding:5px 5px 5px 20px;list-style-type:square;line-height:1.5em;}
.cma-form-container input[type=text], .cma-form-container textarea {width:365px;margin-top:0;}
table.cma-answers-list {width:100%; line-height:1.5em;}
table.cma-answers-list td {border-bottom:solid 1px #ccc; padding:10px 0;}
td.cma-answer-content {vertical-align:top;}
.cma-answer-meta {text-align:right;font-size:11px;}
.cma-answer-question {color:#ccc;font-weight:bold;font-size:80px;text-align:center;line-height:1;}
table.cma-answers-list td.cma-answer-rating {text-align:center;position:relative;font-family:sans-serif;width:10%;}
table.cma-answers-list td.cma-answer-norating {width:20px;padding:0}
a.cma-thumbs-up, a.cma-thumbs-down {color:#ccc;font-size:25px;text-decoration:none;line-height:1}
a.cma-thumbs-up:hover {color:#73a550;}
.cma-answer-rating-count {font-weight:bold;font-size:20px;line-height:1;color:#777;}
a.cma-thumbs-down:hover {color:#c0462e;}
.cma-answer-rating-loading {
    background:rgba(255, 255, 255, 0.6) url(imgs/ajax-loader.gif) center center no-repeat;
    padding:0;margin:0;
    width:100%;
    height:100%;
    position:absolute;
    left:0; top:0;
    z-index:100;
    display:none;
}
.cma_poweredby {clear:both;float:left;font-size:8px;line-height:1.5;margin:20px 0 10px 0;display: inline-block;text-align:left;color:#bbb;text-decoration:none;font-weight:bold}
.cma_poweredbylink:link{color:#bbb;text-decoration:none;}
.cma_poweredbylink:visited{color:#bbb;text-decoration:none;}
.cma_poweredbylink:hover{color:#bbb;text-decoration:none;}
.cma_poweredby:before {content:'Powered by ';}
/* template specifics, copied from twenty twelve theme */
.cma-content .site-content {
    margin: 24px 0 0;
    margin: 1.714285714rem 0 0;
}
.cma-content .entry-header {
    margin-bottom: 24px;
    margin-bottom: 1.714285714rem;
}
.cma-content .entry-header .entry-title {
    font-size: 20px;
    font-size: 1.428571429rem;
    line-height: 1.2;
    font-weight: normal;
}
.cma-content .entry-header .entry-title a {
    text-decoration: none;
}
.cma-content .widget-area {
    margin: 24px 0 0;
    margin: 1.714285714rem 0 0;
}
/* Sidebar */
.cma-content .widget-area .widget {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    margin-bottom: 48px;
    margin-bottom: 3.428571429rem;
    word-wrap: break-word;
    list-style: none;
}
.cma-content .widget-area .widget h3 {
    margin-bottom: 24px;
    margin-bottom: 1.714285714rem;
}
.cma-content .widget-area .widget p,
.cma-content .widget-area .widget li,
.cma-content .widget-area .widget .textwidget {
    font-size: 13px;
    font-size: 0.928571429rem;
    line-height: 1.846153846;
}
.cma-content .widget-area .widget p {
    margin-bottom: 24px;
    margin-bottom: 1.714285714rem;
}
.cma-content .widget-area .textwidget ul {
    list-style: disc outside;
    margin: 0 0 24px;
    margin: 0 0 1.714285714rem;
}
.cma-content .widget-area .textwidget li {
    margin-left: 36px;
    margin-left: 2.571428571rem;
}
.cma-content .widget-area .widget a {
    color: #757575;
}
.cma-content .widget-area .widget a:hover {
    color: #21759b;
}
.cma-content .widget-area #s {
    width: 53.66666666666%; /* define a width to avoid dropping a wider submit button */
}
.cma-content .widget-area .widget ul ul {
    margin-left: 12px;
    margin-left: 0.857142857rem;
}
/* Minimum width of 600 pixels. */
@media screen and (min-width: 600px) {
    .cma-content.site-content {
        float: left;
        width: 65.104166667%;
    }
    .site-footer {
        clear: both;
    }
    .entry-header .entry-title {
        font-size: 22px;
        font-size: 1.571428571rem;
    }
}

@media print {
    .cma-content .widget-area {display:none;}
}