#cmob-widget-container-wrapper {
    /*-----------------Search-----------------*/ }
#cmob-widget-container-wrapper #cmob-widget-container {
    position: fixed;
    z-index: 11;
    right: 0;
    top: 0;
    width: 320px;
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    -webkit-transform: translate3d(320px, 0, 0);
    -ms-transform: translate3d(320px, 0, 0);
    -moz-transform: translate3d(320px, 0, 0);
    -o-transform: translate3d(320px, 0, 0);
    transform: translate3d(320px, 0, 0);
    -webkit-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease; }
#cmob-widget-container-wrapper #cmob-widget-container.show {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
#cmob-widget-container-wrapper #cmob-widget-container #cmob-widget-content {
    margin: 0;
    padding: 0 10px 0 20px; }
#cmob-widget-container-wrapper #cmob-widget-container #cmob-widget-content img {
    max-width: 100%; }
#cmob-widget-container-wrapper #cmob-widget-container #cmob-widget-content a {
    text-decoration: underline;
    position: relative; }
#cmob-widget-container-wrapper #cmob-widget-container #cmob-widget-content::-webkit-scrollbar {
    position: absolute;
    width: 12px; }
#cmob-widget-container-wrapper #cmob-widget-container #cmob-widget-content::-webkit-scrollbar-track {
    width: 12px;
    height: 250px; }
#cmob-widget-container-wrapper #cmob-widget-container #cmob-widget-content::-webkit-scrollbar-button:start {
    width: 12px;
    height: 13px;
    background: url(../images/scroll_up.png) no-repeat center; }
#cmob-widget-container-wrapper #cmob-widget-container #cmob-widget-content::-webkit-scrollbar-button:end {
    width: 12px;
    height: 13px;
    background: url(../images/scroll_down.png) no-repeat center; }
#cmob-widget-container-wrapper #cmob-widget-container .cmob-widget-title {
    padding: 20px 0px 36px 0px;
    font-family: Verdana;
    font-size: 16px;
    font-weight: 400;
    width: auto;
    height: 17px;
    display: inline-block;
    z-index: 20;
    position: relative; }
#cmob-widget-container-wrapper #cmob-widget-container .cmob-widget-item-title {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
    margin: 10px 0; }
#cmob-widget-container-wrapper #cmob-widget-container .cmob-widget-header {
    margin: 20px 0; }
#cmob-widget-container-wrapper #cmob-widget-container .cmob-widget-footer {
    margin: 20px 0; }
#cmob-widget-container-wrapper #cmob-widget-container .cmob-btn-close {
    display: inline-block;
    float: right;
    margin-top: 10px;
    margin-right: -20px;
    width: 18px;
    height: 18px;
    cursor: pointer; }
#cmob-widget-container-wrapper #cmob-widget-container .cmob-btn-open {
    position: absolute;
    z-index: -1;
    height: 34px;
    width: 75px;
    right: 295px;
    top: 20%;
    background: url("../images/icons/01_icon white 30x30.png") no-repeat;
    background-position: center left 4px;
    border-radius: 3px;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; }
#cmob-widget-container-wrapper #cmob-widget-container .cmob-btn-open:hover {
    right: 315px; }
#cmob-widget-container-wrapper #cmob-widget-container .cmob-btn-open.show:hover {
    right: 290px; }
#cmob-widget-container-wrapper #cmob-widget-container ul {
    padding: 10px 0;
    margin: 0;
    list-style: none;
    box-sizing: content-box;
    -moz-box-sizing: content-box; }
#cmob-widget-container-wrapper #cmob-widget-container ul li {
    font-family: Verdana;
    font-size: 12px;
    position: relative;
    border-bottom: 1px solid transparent; }
#cmob-widget-container-wrapper #cmob-widget-container ul li a {
    text-decoration: none; }
#cmob-widget-container-wrapper #cmob-widget-container ul li span {
    display: block;
    width: 243px;
    font-size: 10px;
    margin-top: 15px; }
#cmob-widget-container-wrapper #cmob-widget-container .trigger {
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    position: relative; }
#cmob-widget-container-wrapper #cmob-widget-container .trigger:before {
    content: '';
    width: 10px;
    height: 11px;
    position: absolute;
    left: -20px;
    top: 3px; }
#cmob-widget-container-wrapper #cmob-widget-container .trigger.open:before {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); }
#cmob-widget-container-wrapper #cmob-widget-container .cmob-widget-search {
    margin-bottom: 20px; }
#cmob-widget-container-wrapper #cmob-widget-container #cmob-search {
    max-width: 70%; }
#cmob-widget-container-wrapper #cmob-widget-container #cmob-search-submit {
    max-width: 30%;
    padding: 10px; }

/*-----------------Left-----------------*/
#cmob-widget-container-wrapper.left #cmob-widget-container {
    left: -320px;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    right: initial; }

#cmob-widget-container-wrapper.left #cmob-widget-container.show {
    -webkit-transform: translate3d(320px, 0, 0);
    -ms-transform: translate3d(320px, 0, 0);
    -moz-transform: translate3d(320px, 0, 0);
    -o-transform: translate3d(320px, 0, 0);
    transform: translate3d(320px, 0, 0); }

#cmob-widget-container-wrapper.left .cmob-btn-open {
    right: -40px;
    background-position: center right 4px; }

#cmob-widget-container-wrapper.left .cmob-btn-open:hover {
    right: -60px; }

#cmob-widget-container-wrapper.left .cmob-btn-open.show:hover {
    right: -55px; }

#cmob-widget-container-wrapper.left #cmob-widget-container .cmob-btn-close {
    display: block;
    float: none; }

/*-------------------------Misc------------------------*/
#cmob-widget-container-wrapper #cmob-widget-container .clear {
    clear: both; }
#cmob-widget-container-wrapper .cmob-hidden {
    display: none; }
#cmob-widget-container-wrapper .cmob-external-link:after {
    content: '';
    background-image: url("../images/external.png");
    background-repeat: no-repeat;
    width: 11px;
    height: 11px;
    position: absolute;
    top: 0;
    margin-left: 5px; }

#cmob-widget-container-wrapper .cmob-external-link-inline:after {
    content: '';
    background-image: url("../images/external.png");
    background-repeat: no-repeat;
    width: 11px;
    height: 11px;
    position: absolute;
    top: 3px;
    right: -15px; }

/*Accordion Widget Type*/
#cmob-widget-container-wrapper.accordion #cmob-widget-container #cmob-widget-content{
    margin-top: 20px;
    overflow: auto;
}

#cmob-widget-container-wrapper #cmob-widget-container .cmetg_poweredby {clear:both;float:none;font-size:8px;line-height:1.5;display: inline-block;padding: 3px;margin-top:20px;color:#bbb;text-decoration:none;font-weight:bold}
#cmob-widget-container-wrapper #cmob-widget-container .cmetg_poweredby:before {content:'Powered by ';}
#cmob-widget-container-wrapper #cmob-widget-container .cmetg_poweredbylink:link{color:#bbb;text-decoration:none;}
#cmob-widget-container-wrapper #cmob-widget-container .cmetg_poweredbylink:visited{color:#bbb;text-decoration:none;}
#cmob-widget-container-wrapper #cmob-widget-container .cmetg_poweredbylink:hover{color:#bbb;text-decoration:none;}